 .clearfix{
    clear:both;
}
div{
    position: relative;
}
div p,div h1{
    padding-bottom: 30px;
    color: brown;
     z-index: 9999999999999999; 
}

div img{
position: absolute;
top:0;
left: 0;
z-index: -1;
} */
/* .content{
    width: 200px;
    height: 200px;
    background-color: rgb(5, 0, 5);
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    border-radius: 20px;
} */
nav{
    background: #ddd;
} 
 .left{
    float: left;
    padding-left: 30px;
} 
 .right{
    float: right;
    padding-right: 30px;
} 
ul li{
    display: inline-block;
    list-style-type: none;
    /* padding-left: 30%;  */
}


/* .opacity{
    width: 300px;
    height: 300px;
    background-color: rgb(5, 0, 5);
    opacity: .3; */
    /* z-index: 9999999999999; */ 
/* } */
/* ul li:nth-child(2){
    color: blue;
} */
/* ul li{
    position: relative;
} */ */ */
/* /* ul li::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aqua;
    bottom: 0;
    left:0;
} */
/* ul li::first-letter{
    color:blueviolet;
}
ul li::marker{
    color: red;
} */ */


ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between ;
    /* align-items: flex-start; */
    
    list-style-type: none;
}







/* li::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aqua;
    bottom: 0;
    left:0;
}  */
 
/* .img{
    width: 100px;
    height: 100px;
} */
/* .card-fs-content{
    -webkit-tap-highlight-color: transparent;
    line-height: 1.15;
    color: #999;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    background-color: #fff;
    height: 375px;
}
.card-fs-content-body-unit {
    height: 290px;
    width: 188px;
    float: left;
    margin-right: 12px;
    position: relative;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a, html {
    -webkit-tap-highlight-color: transparent;
}
a {
    color: #000;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
*, li, ol, ul {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.lzd-header, body {
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
body, html {
    background-color: #f5f5f5;
    font-family: Roboto-Regular;
}
body {
    background: #e7e8ec;
    color: #999;
    font-size: 12px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.card-fs-content-body-unit .fs-card-img-container {
    width: 188px;
    height: 188px;
    margin-bottom: 4px;
}
* {
    margin: 0;
    padding: 0;
}
*, li, ol, ul {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
a, html {
    -webkit-tap-highlight-color: transparent;
}
a {
    color: #000;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.lzd-header, body {
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
body, html {
    background-color: #f5f5f5;
    font-family: Roboto-Regular;
}
body {
    background: #e7e8ec;
    color: #999;
    font-size: 12px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    -webkit-text-size-adjust: none;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
} */